$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$blue = $colors.blue;

.button {
	display: inline-block;
	padding: 16px 30px;
	border: none;
	border-radius: 10px;
	text-align: center;
	background: $lightgray;
	color: $blue;
	text-transform: uppercase;
	font-size: 1rem;
	outline: none;
	transition: 200ms ease all;
	cursor: pointer;

	&--default {
		background: $blue;
		color: white;

		&:hover {
			background: $darkgray;
		}
	}

	&--transparent {
		color: white;
		background: transparent;
		border: 1px solid white;

		&:hover {
			background: white;
			color: $blue;
		}
	}
}
