$blue = $colors.blue;
$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$up = $zindex.element;

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	font-family: Gilroy, 'Open Sans', sans-serif;
	color: inherit;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: $breakpoints.lg;
	padding: 0 25px;

	@media (min-width: $breakpoints.xl) {
		padding: 0;
		max-width: $breakpoints.xl;
	}
}

a {
	text-decoration: none;
}

.text {
	&-center {
		text-align: center;
	}

	&-uppercase {
		text-transform: uppercase;
	}
}

.header {
	min-height: 345px;
	background-color: $darkgray;
	background-size: cover;
	background-position: center;
	margin-top: 60px;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 430px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: linear-gradient(to top, rgba(black, 0.85), transparent);
	}

	@media (min-width: $breakpoints.xxl) {
		min-height: 750px;
		margin-top: 70px;
	}
}

.header__description {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 100%;
	max-width: $breakpoints.xl;
	text-align: center;
	z-index: $up;
	color: white;
	transform: translateX(-50%);
	padding: 0 1rem;

	@media (max-width: $breakpoints.lg) {
		display: none;
	}
}

.header__title {
	margin-bottom: 10px;
	font-size: 22px;

	@media (min-width: $breakpoints.lg) {
		font-size: 41px;
		margin: 10px 0 1em;
	}
}

.header__subtitle {
	display: block;
	font-size: 16px;

	@media (min-width: $breakpoints.xl) {
		font-size: 22px;
	}
}


.header-mobile {
	text-align: center;
	color: $blue;
	background: $lightgray;
	padding: 16px 0;

	&__description {
		padding: 20px;
		background: white;
		border-radius: 6px;

		&__category {
			text-transform: uppercase;
			font-size: 12px;
		}

		&__title {
			font-size: 18px;
		}

		&__subtitle {
			font-weight: lighter;
			font-size: 14px;
			line-height: 1.25em;
		}
	}

	@media (min-width: $breakpoints.lg) {
		display: none;
	}
}
