$colors = {
	blue: #365C73,
	lightgray: #E6E6E6,
	regulargray: #A4A4A4,
	darkenregulargray: #6D6D6D,
	darkgray: #9A9D9E,
	purple: #46233F,
	darkpurple: #1f0a1a
};
$breakpoints = {
	xs: 320px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
	xxl: 1600px
};
$zindex = {
	modal: 4,
	nav: 3,
	cookies: 2,
	element: 1
};
