<template>
  <div class="product">
    <header :class="`product__header product__header--${slug}`">
      <div class="product__header__description">
        <p class="product__header__description__category">
          {{ $t(`products.${slug}.category`) }}
        </p>

        <h1 class="product__header__description__title">
          {{ $t(`products.${slug}.title`) }}
        </h1>

        <p class="product__header__description__subtitle">
          {{ $t(`products.${slug}.subtitle`) }}
        </p>
      </div>
    </header>

		<div class="header-mobile">
			<div class="container">
				<div class="header-mobile__description">
					<p class="header-mobile__description__category">
						{{ $t(`products.${slug}.category`) }}
					</p>

					<h1 class="header-mobile__description__title">
						{{ $t(`products.${slug}.title`) }}
					</h1>

					<p class="header-mobile__description__subtitle">
						{{ $t(`products.${slug}.subtitle`) }}
					</p>
				</div>
			</div>
		</div>

    <section class="striped-section striped-section--reverse striped-section--product">
      <StripedSectionItem
        v-for="(item, index) in $t(`products.${slug}.content`)"
        :key="index"
        :title="item.section_cards ? false : item.title"
        :description="item.section_cards ? false : item.description"
        :image="item.section_cards ? false : require(`@/assets/img/content/${slug}/${item.image}.png`)"
        :sectionCards="item.section_cards"
        :cardInfo="!item.section_cards ? false : item.cards"
      />
    </section>

    <Advice />
  </div>
</template>

<script>

import StripedSectionItem from '@/components/StripedSectionItem'
import Advice from '@/components/Advice'

export default {
  props: ['slug'],

  name: 'Cms',

  components: {
    Advice,
    StripedSectionItem
  }
}
</script>
