$blue = $colors.blue;
$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$purple = $colors.purple;
$darkpurple = $colors.darkpurple;
$up = $zindex.element;

.contact {
	background: $lightgray;
	overflow: hidden;

	&__header {
		background-color: $darkgray;
		min-height: 350px;
		background-size: cover;
		background-position: 70%;
		background-image: url('assets/img/headers/contact-bg.jpg');
		margin-top: 70px;

		&--demo {
			background-image: url('assets/img/headers/demo-bg.jpg');
		}

		@media (min-width: $breakpoints.lg) {
			min-height: 490px;
			background-position: center;
		}
	}

	&__content {
		background: white;
		margin: 10px 0;
		padding: 30px;
		text-align: center;
		filter: drop-shadow(0 6px 6px rgba(black, 0.25));

		@media (min-width: $breakpoints.lg) {
			margin: 50px 0;
			border-radius: 6px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
			min-height: 500px;
		}

		&__title {
			color: $blue;
			font-size: 22px;
			margin-bottom: 1rem;
			font-weight: 200;

			@media (min-width: $breakpoints.lg) {
				font-size: 41px;
			}
		}

		&__description {
			color: $blue;

			&--done {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}

			@media (min-width: $breakpoints.lg) {
				font-size: 23px;
			}
		}

		&__form {
			&__submit {
				@media (min-width: $breakpoints.lg) {
					text-align: right;
				}
			}
		}

		.button {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	&__back {
		text-align: left;
		display: block;
		animation: fadeIn 500ms;

		&:before {
			content: '<';
			margin-right: 0.5rem;
		}
	}
}
