$lightgray = $colors.lightgray;
$blue = $colors.blue;

.error-page {
	background: $lightgray;
	margin-top: 60px;
	padding: 54px 0;

	&__content {
		background: white;
		color: $blue;
		height: calc(100vh - 120px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		text-align: center;
	}

	&__title {
		font-size: 50px;
		margin: 0 0 1rem;

		@media (min-width: $breakpoints.lg) {
			font-size: 67px;
		}
	}

	&__subtitle {
		font-size: 22px;

		@media (min-width: $breakpoints.lg) {
			font-size: 41px;
		}
	}

	&__description {
		font-size: 16px;

		@media (min-width: $breakpoints.lg) {
			font-size: 23px;
		}
	}

	&__link {
		font-size: 14px;

		@media (min-width: $breakpoints.lg) {
			font-size: 20px;
		}

		&:before {
			content: '<';
			display: inline-block;
			font-size: 22px;
			margin-right: 10px;
			vertical-align: middle;

			@media (min-width: $breakpoints.lg) {
				vertical-align: top;
			}
		}
	}
}
