$blue = $colors.blue;
$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$purple = $colors.purple;
$darkpurple = $colors.darkpurple;
$up = $zindex.element;

.home {
	&__header {
		min-height: 445px;
		background-color: $darkgray;
		margin-top: 60px;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 330px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(to top, rgba(black, 0.75), transparent);
		}

		@media (min-width: $breakpoints.lg) {
			height: calc(100vh - 60px);
		}

		&__video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__description {
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			text-align: center;
			z-index: $up;

			&__title {
				color: white;
				margin-bottom: 10px;
				font-size: 22px;

				@media (min-width: $breakpoints.lg) {
					font-size: 49px;
					margin: 0 auto;

					.subtitle {
						display: block;
						font-size: 41px;
					}
				}
			}
		}
	}

	&__copyright {
		background-image: linear-gradient(to bottom, $purple, $darkpurple);
		color: white;
		background-size: cover;
		padding: 40px 0;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('assets/img/space.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
		}

		@media (min-width: $breakpoints.lg) {
			padding: 45px;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&__content {
			z-index: $up;
			position: relative;

			@media (min-width: $breakpoints.lg) {
				display: flex;
				align-items: center;
			}
		}

		img {
			@media (min-width: $breakpoints.lg) {
				width: 480px;
			}
		}

		&__text {
			margin-bottom: 10px;

			@media (min-width: $breakpoints.lg) {
				max-width: 480px;
				font-size: 1.1rem;
			}
		}

		&__description {
			@media (min-width: $breakpoints.lg) {
				max-width: 500px;
			}
		}

		&__contain {
			@media (min-width: $breakpoints.md) {
				height: 550px;
				width: 600px;
				position: relative;
			}
		}

		&__figure {
			mask-image: -webkit-gradient(
				linear,
				left center,
				right center,
				color-stop(0, transparent),
				color-stop(0.1, rgba(0, 0, 0, 0.5)),
				color-stop(0.25, black),
				color-stop(0.75, black),
				color-stop(0.9, rgba(0, 0, 0, 0.5)),
				color-stop(1, transparent)
			);

			.image {
				display: block;
				width: 655px;
				height: 260px;
				background-image: url('assets/img/blueshift-clients.png');
				background-size: contain;
				background-repeat: repeat-x;
				animation: markeeImage 30s linear infinite;
			}

			@media (min-width: $breakpoints.md) {
				height: 550px;
				width: 720px;
				position: absolute;
				top: 0;
				left: 0;

				.image {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1272px;
					height: 460px;
				}
			}

			@media (min-width: $breakpoints.xxl) {
				width: 1024px;
			}
		}
	}

	.scroll-down {
		display: block;
	}
}
