$blue = $colors.blue;
$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$purple = $colors.purple;
$darkpurple = $colors.darkpurple;
$up = $zindex.element;

.product {
	&__header {
		@extend .header;

		&--cms {
			background-image: url('assets/img/headers/cms-bg.jpg');
		}

		&--multicast {
			background-image: url('assets/img/headers/multicast-bg.jpg');
		}

		&--workflow {
			background-image: url('assets/img/headers/workflow-bg.jpg');
		}

		&__description {
			@extend .header__description;

			&__category {
				font-size: 30px;
				text-transform: uppercase;
				margin: 0;
				font-weight: bolder;
			}

			&__title {
				@extend .header__title;
				font-weight: lighter;
			}

			&__subtitle {
				@extend .header__subtitle;
				font-size: 22px;
			}
		}
	}

	.striped-section__item {
		.products-list {
			&__card {
				@media (max-width: $breakpoints.lg) {
					box-shadow: none;
				}
			}
		}

		.slick-active {
			.products-list {
				&__card {
					@media (max-width: $breakpoints.lg) {
						box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
					}
				}
			}
		}
	}
}
