$lightgray = $colors.lightgray;
$blue = $colors.blue;

.resources {
	&__slider, .slick-slider {
		outline: none;

		.striped-section__item__content {
			box-shadow: none;
		}

		.striped-section__item__image {
			img {
				border-radius: 0px;
			}
		}

		.striped-section__item__text {
			background: $lightgray;
		}

		.slick-slide.slick-active {
			outline: none;

			@media (min-width: $breakpoints.lg) {
				padding: 10px;
				filter: drop-shadow(0 6px 6px rgba(black, 0.25));
			}
		}

		.slick-dots {
			@media (max-width: $breakpoints.lg) {
				bottom: 9%;
			}
		}
	}

	.striped-section__item {
		&:not(:first-of-type) {
			@media (max-width: $breakpoints.lg) {
				padding-top: 0;
			}
		}

		&__image {
			img {
				filter: none;

				@media (max-width: $breakpoints.lg) {
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}

		&__text {
			@media (max-width: $breakpoints.lg) {
				margin-top: -5px;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}

		&:nth-of-type(even) {
			@media (max-width: $breakpoints.lg) {
				background: $lightgray;
			}
		}
	}

	&__header {
		@extend .header;
		background-image: url('assets/img/headers/resources-bg.jpg');

		&__description {
			@extend .header__description;

			&__title {
				@extend .header__title;
			}

			&__subtitle {
				@extend .header__subtitle;
			}
		}
	}

	&__news {
		&__content {
			padding: 1rem 0;
			color: $blue;

			@media (min-width: $breakpoints.lg) {
				padding: 50px 0;
				background: $lightgray;

				img {
					width: 100%;
				}
			}
		}

		&__back {
			padding-top: 2rem;

			a {
				font-size: 20px;
				color: $blue;

				&:before {
					content: '<';
					margin-right: 0.5rem;
				}
			}
		}
	}
}

.striped-section, &__item {
	@media (max-width: $breakpoints.lg) {
		padding-bottom: 30px;
	}

	&__content {
		@media (max-width: $breakpoints.lg) {
			display: block;
		}
	}
}

&__image {
	img {
		border-radius: 0;
		filter: none;
	}
}
