$blue = $colors.blue;

.advice {
	background: white;
	padding: 80px 0;
	text-align: center;

	@media (min-width: $breakpoints.lg) {
		padding: 120px 0;
	}

	&__title {
		color: $blue;
		font-size: 22px;
		font-weight: lighter;

		@media (min-width: $breakpoints.lg) {
			font-size: 34px;
		}
	}

	&__description {
		color: $blue;
		font-size: 18px;
		margin-bottom: 40px;
	}

	&__content {
		@media (min-width: $breakpoints.lg) {
			max-width: 50%;
			margin: 0 auto;
		}
	}
}
