$lightgray = $colors.lightgray;
$darkgray = $colors.darkgray;
$blue = $colors.blue;

.card {
	padding: 54px;
	text-align: center;
	color: $blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&:nth-of-type(odd) {
		background: $lightgray;

		@media (min-width: $breakpoints.lg) {
			background: transparent;
		}
	}

	@media (min-width: $breakpoints.lg) {
		padding: 0;
	}

	&-list {
		max-width: $breakpoints.lg;

		@media (min-width: $breakpoints.lg) {
			padding: 90px 0 54px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 73px;
			margin: 0 auto;
		}

		@media (min-width: $breakpoints.xxl) {
			max-width: $breakpoints.xl;
		}
	}

	&__figure {
		width: 130px;
		height: 130px;
		overflow: hidden;
		margin: 0 auto 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: drop-shadow(0 6px 6px rgba(black, 0.25));

		@media (min-width: $breakpoints.lg) {
			width: 75px;
			height: 75px;
		}
	}

	&__title {
		font-size: 22px;
		margin-bottom: 1rem;
		margin-top: 0;
	}

	&__description {
		margin: 0;
		line-height: 22px;

		@media (min-width: $breakpoints.lg) {
			padding: 0 15px;
		}
	}
}
