$blue = $colors.blue;
$up = $zindex.cookies;

.cookie-accept {
	position: fixed;
	width: 100%;
	color: white;
	background: $blue;
	bottom: 0;
	left: 0;
	padding: 0.5rem 0;
	z-index: $up;
	filter: drop-shadow(0 -6px 6px rgba(black, 0.35));

	&__content {
		text-align: center;

		@media (min-width: $breakpoints.lg) {
			display: flex;
			align-items: center;
			text-align: left;
		}
	}

	&__action {
		margin-top: 1rem;

		@media (min-width: $breakpoints.lg) {
			margin: 0;
		}
	}

	&__description {
		@media (min-width: $breakpoints.lg) {
			flex: 1;
		}
	}

	p {
		margin: 0;
	}

	.button {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		@media (min-width: $breakpoints.lg) {
			padding-left: 55px;
			padding-right: 55px;
		}
	}
}
