$blue = $colors.blue;
$lightgray = $colors.lightgray;

.feedback {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media (min-width: $breakpoints.lg) {
		min-height: 450px;
	}

	&__title {
		color: $blue;
		font-size: 22px;
		margin: 0;
	}

	&__loading {
		width: 100%;

		@media (min-width: $breakpoints.lg) {
			max-width: 400px;
		}

		progress {
			border: 0;
			height: 18px;
			border-radius: 20px;
			width: 100%;
			margin-bottom: 10px;

			&::-webkit-progress-bar {
				border-radius: 20px;
				border: 0;
				height: 18px;
				background: $lightgray;
			}

			&::-webkit-progress-value {
				border-radius: 20px;
				border: 0;
				height: 18px;
				background: $blue;
			}

			&::-moz-progress-bar {
				border-radius: 20px;
				border: 0;
				height: 18px;
			}
		}
	}

	&__success {
		text-align: center;

		&__icon {
			display: block;
			width: 80px;
			height: 80px;
			background: $blue;
			border-radius: 10px;
			margin: 2rem auto;
			position: relative;

			.icon-line {
				position: absolute;
				height: 5px;
				background: white;

				&.line-tip {
					top: 46px;
					left: 14px;
					width: 25px;
					transform: rotate(45deg);
					animation: icon-line-tip 0.75s;
				}

				&.line-long {
					top: 38px;
					right: 8px;
					width: 47px;
					transform: rotate(-45deg);
					animation: icon-line-long 0.75s;
				}
			}
		}
	}
}
