$blue = $colors.blue;

.footer {
	background: $blue;
	color: white;
	padding: 35px 0;

	p {
		margin: 0;
	}

	&__contact {
		text-align: right;

		.text-uppercase {
			font-weight: lighter;
		}
	}

	&__content {
		text-align: center;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
		font-size: 12px;

		@media (min-width: $breakpoints.lg) {
			font-size: 18px;
		}
	}

	&__translate {
		background: transparent;
		border: none;
		display: inline-flex;
		align-items: center;
		font-size: 12px;
		outline: none;
		cursor: pointer;

		@media (min-width: $breakpoints.lg) {
			font-size: 18px;
		}

		.icon {
			margin-right: 0.5rem;
		}
	}

	&__copyright {
		font-size: 9px;
		margin-top: 40px;

		@media (min-width: $breakpoints.lg) {
			font-size: 16px;
			margin-top: 24px;
		}
	}
}
