$blue = $colors.blue;
$black = #333;
$red = #970000;
$gray = #7F7F7F;

.input {
	background: white;
	cursor: pointer;
	color: $black;
	position: relative;
	display: block;
	margin-bottom: 1.5rem;
	position: relative;

	&--error {
		input, textarea, select {
			border-color: $red !important;
			border: 2px solid;
		}

		.input {
			&__label {
				color: $red;
			}

			&__badge {
				color: $red;
				display: block;
				animation: fadeIn 200ms;
			}
		}
	}

	&--select {
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 15px solid $blue;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;

			@media (max-width: $breakpoints.sm) {
				display: none;
			}
		}
	}

	&__label {
		text-transform: uppercase;
		position: absolute;
		top: 0.75rem;
		left: 1rem;
		padding: 0 5px;
		transition: 200ms ease all;
		pointer-events: none;
		font-size: 12px;

		@media (min-width: $breakpoints.lg) {
			font-size: 14px;
		}
	}

	input, textarea, select {
		border: 0;
		outline: none;
		width: 100%;
		resize: none;
		appearance: none;
		cursor: pointer;
		padding: 0.75rem 1rem;
		border: 1px solid;
		border-radius: 4px;

		&:focus {
			border-color: $gray;
			color: $gray;
		}
	}

	input, textarea {
		&:focus ~ .input__label, &:not(:placeholder-shown) ~ .input__label {
			background: white;
			top: -0.3rem;
			font-size: 10px;
		}
	}

	select {
		&:focus-within ~ .input__label, &:valid ~ .input__label {
			background: white;
			top: -0.3rem;
			font-size: 10px;
		}
	}

	&__badge {
		display: block;
		text-align: left;
		font-size: 12px;
		margin: 2px 0 0 0.75rem;
		position: absolute;

		&--error {
			display: none;
		}
	}
}
