$blue = $colors.blue;
$darkgray = $colors.darkgray;
$regulargray = $colors.regulargray;

.menu {
	background: white;
	position: fixed;
	height: calc(100vh - 60px);
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px 24px;

	::selection {
		background: transparent;
	}

	@media (max-width: $breakpoints.lg) {
		display: none;

		&--open {
			display: flex;
			flex-direction: column;
			animation: fadeIn 500ms;
			overflow: auto;
			margin-top: 65px;

			.menu__item--action {
				margin-top: auto;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $breakpoints.lg) {
		padding: 0;
		width: auto;
		height: auto;
		position: relative;
	}

	&__item {
		text-transform: uppercase;
		display: block;
		border-bottom: 2px solid transparent;
		transition: 200ms ease all;
		margin-bottom: 40px;
		cursor: pointer;

		&--action {
			border-radius: 6px;
			padding: 16px 40px;
			background: $blue;
			color: white;
			text-align: center;
			margin-left: 5vw;
			margin-right: 5vw;

			&:hover {
				background: $darkgray;
			}

			@media (min-width: $breakpoints.lg) {
				padding: 8px 40px;
				margin: 0;
			}
		}

		&--submenu {
			input {
				display: none;
			}
		}

		@media (min-width: $breakpoints.lg) {
			display: inline-block;
			margin-bottom: 0;

			&:not(:last-child) {
				margin-left: 70px;

				&:hover {
					color: $blue;
					border-color: $blue;
				}
			}

			&:last-child {
				margin-left: 35px;
			}
		}
	}

	.submenu {
		::selection {
			background: transparent;
		}

		@media (min-width: $breakpoints.lg) {
			position: fixed;
			width: 100vw;
			background: white;
			left: 0;
			top: 70px;
			box-shadow: 0 6px 6px rgba($darkgray, 0.2), inset 0 6px 6px rgba($darkgray, 0.2);
		}

		&__content {
			@media (min-width: $breakpoints.lg) {
				display: inline-flex;
				grid-template-columns: repeat(3, 1fr);
				max-width: 71%;
				text-align: left;
			}

			@media (min-width: $breakpoints.xxl) {
				max-width: 58.5%;
			}
		}

		&__item {
			cursor: pointer;
			padding-bottom: 1rem;
			font-size: 22px;

			&:hover {
				.submenu__item__title {
					border-color: $blue;
				}
			}

			&__title {
				display: inline-block;
				padding-bottom: 5px;
				margin-bottom: 10px;
				border-bottom: 2px solid transparent;
				transition: 200ms ease all;
			}

			&__description {
				color: $regulargray;
				text-transform: none;
				margin-top: 0;
				font-size: 20px;
				margin-top: -5px;
			}

			@media (min-width: $breakpoints.lg) {
				width: 260px;

				&:not(:first-of-type) {
					margin-left: 50px;
				}
			}
		}

		.container {
			padding: 0;

			@media (min-width: $breakpoints.lg) {
				text-align: right;
			}
		}
	}
}
