$blue = $colors.blue;

.nav {
	background: white;
	padding: 9px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 6px 6px rgba($darkgray, 0.2);
	z-index: $zindex.nav;

	@media (min-width: $breakpoints.lg) {
		padding: 9px 0;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__brand {
		max-width: 100px;
		margin-top: 5px;

		@media (min-width: $breakpoints.lg) {
			max-width: 140px;
			margin-top: 0;
		}
	}

	&__burger {
		background: transparent;
		border: none;
		width: 20px;
		height: 20px;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: $blue;
		position: relative;
		transition: 200ms ease all;
		outline: none;

		@media (min-width: $breakpoints.lg) {
			display: none;
		}

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 200ms ease all;
		}

		&:before {
			width: 100%;
			height: 2px;
			background: $blue;
		}

		&--open {
			border-color: transparent;

			&:after {
				width: 100%;
				height: 2px;
				background: $blue;
			}

			&:before {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}
