$blue = $colors.blue;

.products-list {
	background: $blue;
	padding: 50px 0;

	&__title {
		color: white;
		text-transform: uppercase;
		font-size: 22px;
		margin-top: 0;
		text-align: center;
		font-weight: lighter;

		@media (min-width: $breakpoints.lg) {
			text-align: left;
			font-size: 30px;
		}
	}

	&__cards {
		text-align: center;

		@media (min-width: $breakpoints.lg) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 35px;
		}

		@media (min-width: $breakpoints.xxl) {
			grid-gap: 42px;
		}

		.slick-slide {
			padding: 10px;
		}

		.slick-dots {
			display: flex !important;
			padding: 0;
			justify-content: center;
			position: absolute;
			width: 100%;
			bottom: 10%;

			li {
				list-style: none;
				padding: 10px;

				&.slick-active {
					button {
						background: $blue;
					}
				}

				button {
					font-size: 0px;
					color: transparent;
					width: 10px;
					height: 11px;
					background: rgba($blue, 0.5);
					border: none;
					outline: none;
					border-radius: 50%;
				}
			}
		}
	}

	&__card {
		background: white;
		color: $blue;
		padding: 20px 15px;
		border-radius: 6px;
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		transition: 200ms ease all;
		outline: none;
		height: 420px;

		@media (min-width: $breakpoints.lg) {
			padding: 35px 30px;
		}

		@media (min-width: $breakpoints.xxl) {
			height: 500px;
		}

		&__action {
			display: block;
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 40px;
			font-size: 15px;

			@media (max-width: $breakpoints.lg) {
				font-size: 14px;
			}
		}

		&.animated {
			.products-list__card__icon {
				display: none;

				&--hover {
					display: block;
				}
			}
		}

		@media (min-width: $breakpoints.lg) {
			margin-bottom: 0;
		}

		&:hover {
			box-shadow: 0 4px 12px rgba(black, 0.12), 0 4px 8px rgba(black, 0.24);
		}

		&__icon {
			object-fit: contain;
			width: 120px;
			height 120px;
		}

		&__title {
			font-size: 22px;
			color: $blue;
			margin: 15px 0 30px;
			font-weight: lighter;
			margin: 10px 0 0;

			@media (min-width: $breakpoints.lg) {
				font-size: 23px;
			}

			@media (min-width: $breakpoints.xxl) {
				font-size: 35px;
			}
		}

		&__description {
			font-size: 1rem;
			color: $blue;
			margin-bottom: 0;

			@media (max-width: $breakpoints.lg) {
				font-size: 14px;
			}

			@media (min-width: $breakpoints.xxl) {
				font-size: 20px;
			}
		}
	}
}
