$lightgray = $colors.lightgray;
$darkenregulargray = $colors.darkenregulargray;
$blue = $colors.blue;

.striped-section {
	&__item {
		padding: 50px 0;
		background: $lightgray;
		position: relative;

		@media (min-width: $breakpoints.lg) {
			padding: 130px 0;
		}

		&:nth-of-type(even) {
			background: white;

			.striped-section__item__image {
				order: 2;
			}
		}

		&--news {
			background: $lightgray;

			.striped-section__item__content {
				padding: 0;
				overflow: hidden;
				border-radius: 6px;
				box-shadow: 0 4px 12px rgba(black, 0.12);
			}

			.striped-section__item__text {
				background: white;
				padding: 1rem;

				@media (max-width: $breakpoints.lg) {
					min-height: 250px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: white;
				}
			}

			@media (min-width: $breakpoints.lg) {
				padding: 130px 0;

				.striped-section__item__image, .striped-section__item__text {
					flex: 1;
					max-width: 50%;
					max-height: 557px;
					overflow: hidden;

					img {
						border-radius: 0;
					}
				}

				.striped-section__item__text {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 1rem;
				}

				&:nth-of-type(even) {
					.striped-section__item__text {
						background: $lightgray;
					}
				}
			}

			@media (min-width: $breakpoints.xxl) {
				.striped-section__item__text {
					padding: 75px;
				}
			}
		}

		&--slider {
			background: white;
			padding: 3rem 0;

			.slick-dots {
				display: inline-flex !important;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2rem;
				padding: 0;

				@media (min-width: $breakpoints.lg) {
					transform: translateX(0);
					left: 73%;
					bottom: 15%;
				}

				@media (min-width: $breakpoints.xxl) {
					left: calc(75% - 30px);
				}

				li {
					list-style: none;

					&.slick-active {
						button {
							background: $blue;
						}
					}

					&:not(:last-of-type) {
						button {
							margin-right: 5px;
						}
					}
				}

				button {
					font-size: 0;
					color: transparent;
					border: none;
					background: $darkenregulargray;
					border-radius: 50%;
					width: 10px;
					height: 11px;
					cursor: pointer;
					outline: none;
				}
			}
		}

		&__content {
			@media (min-width: $breakpoints.lg) {
				display: flex;
			}
		}

		&__image {
			@media (min-width: $breakpoints.lg) {
				flex: 1;
			}

			img {
				border-radius: 1rem;
				filter: drop-shadow(0 6px 6px rgba(black, 0.25));
			}
		}

		&__text {
			text-align: center;

			@media (min-width: $breakpoints.lg) {
				flex: 1;
				padding: 0 60px;
			}
		}

		&__title, &__description {
			color: $blue;
		}

		&__title {
			font-size: 18px;
			margin: 10px 0 0;

			@media (min-width: $breakpoints.lg) {
				font-size: 36px;
				font-weight: lighter;
				margin-bottom: 1em;
			}

			@media (min-width: $breakpoints.xxl) {
				font-size: 40px;
			}
		}

		&__description {
			font-size: 20px;

			@media (min-width: $breakpoints.xxl) {
				font-size: 23px;
				font-weight: lighter;
			}
		}
	}

	&--reverse {
		.striped-section__item {
			.striped-section__item__image {
				flex: 1;
			}

			@media (min-width: $breakpoints.lg) {
				&:nth-of-type(odd) {
					.striped-section__item__image {
						order: 2;
					}
				}

				&:nth-of-type(even) {
					.striped-section__item__image {
						order: -1;
					}
				}
			}
		}
	}

	.products-list {
		background: transparent;
		padding: 0;

		&__card {
			box-shadow: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);

			@media (max-width: $breakpoints.lg) {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			@media (min-width: $breakpoints.lg) {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			@media (min-width: $breakpoints.xl) {
				padding-top: 75px;
				padding-bottom: 75px;
			}

			&:hover {
				.products-list__card__icon {
					display: block;
				}
			}

			&__icon {
				filter: drop-shadow(0 6px 6px rgba(black, 0.4));
				width: 150px;
				margin: 0 auto;

				@media (max-width: $breakpoints.lg) {
					max-width: 100px;
				}

				img {
					object-fit: contain;
				}
			}

			&__title, &__description {
				color: $darkenregulargray;
			}

			&__title {
				margin: 2em 0 0;
				font-weight: lighter;

				@media (min-width: $breakpoints.lg) {
					margin: 0;
				}
			}
		}
	}

	&--product {
		@media (min-width: $breakpoints.xl) {
			.striped-section__item {
				&:nth-of-type(odd) {
					.striped-section__item__image {
						transform: scale(1.25, 1.25) translateX(-50px);
					}

					.striped-section__item__text {
						padding-right: 100px;
					}
				}

				&:nth-of-type(even) {
					.striped-section__item__image {
						transform: scale(1.25, 1.25) translateX(50px);
					}

					.striped-section__item__text {
						padding-left: 100px;
					}
				}
			}
		}
	}
}
