<template>
  <section class="contact">
    <header class="contact__header"></header>

    <div class="container">
      <div class="contact__content">
        <article :class="`contact__content__description ${ feedbackType == 'success' ? 'contact__content__description--done' : ''}`">
          <div v-show="feedbackType !== 'success'">
            <h2 class="contact__content__title">{{ $t('contact.title') }}</h2>
            <p class="contact__content__description" v-html="$t('contact.description')"></p>
          </div>

          <div v-show="feedbackType === 'success'">
            <router-link class="contact__back" :to="{ 'name': 'Home' }">{{ $t('contact.feedback.back') }}</router-link>
          </div>
        </article>

        <form
          v-show="!showFeedback"
          method="POST"
          @submit.prevent="submitForm"
          class="contact__content__form"
        >
          <input-field
            id="name"
            v-model="form.name"
            :input="form.name"
            type="text"
            name="name"
            :placeholder="$t('contact.fields[0].title')"
            :error="$t('demo.fields[0].error')"
            :class="{ 'input--error': $v.form.name.$error }"
          />
          <input-field
            id="email"
            v-model="form.email"
            :input="form.email"
            type="email"
            name="email"
            :placeholder="$t('contact.fields[1].title')"
            :error="$t('demo.fields[1].error')"
            :advice="$t('contact.fields[1].advice')"
            :class="{ 'input--error': $v.form.email.$error }"
          />
          <input-field
            id="phone"
            v-model="form.phone"
            :input="form.phone"
            :mask="phoneMask"
            type="text"
            name="phone"
            :placeholder="$t('contact.fields[2].title')"
            :error="$t('demo.fields[2].error')"
            :advice="$t('contact.fields[2].advice')"
            :class="{ 'input--error': $v.form.phone.$error }"
          />
          <input-field
            id="message"
            v-model="form.message"
            :input="form.message"
            type="textarea"
            name="message"
            :placeholder="$t('contact.fields[3].title')"
            :error="$t('demo.fields[3].error')"
            :class="{ 'input--error': $v.form.message.$error }"
          />
          <div class="contact__content__form__submit">
            <button type="submit" class="button button--default">{{ $t('contact.submit') }}</button>
          </div>
        </form>

        <Feedback v-show="showFeedback" :feedbackType="feedbackType" :amount="amount" />
      </div>
    </div>
  </section>
</template>

<script>
import Input from "@/components/Input";
import Feedback from "@/components/Feedback";
import phoneMask from "@/mixins/phoneMask";
import formSubmit from "@/mixins/formSubmit";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "Contact",

  mixins: [phoneMask, formSubmit],

  components: {
    inputField: Input,
    Feedback
  },

  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        message: ""
      }
    };
  },

  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },

      email: {
        required
      },

      phone: {
        required,
        minLength: minLength(14)
      },

      message: {
        required
      }
    }
  },

  methods: {
    handleFinish() {
      this.done = true;
    }
  }
};
</script>