<template>
  <section class="contact">
    <header class="contact__header contact__header--demo"></header>

    <div class="container">
      <div class="contact__content">
        <article
          :class="`contact__content__description ${ feedbackType == 'success' ? 'contact__content__description--done' : ''}`"
        >
          <div v-show="feedbackType !== 'success'">
            <h2 class="contact__content__title">{{ $t('demo.title') }}</h2>
            <p class="contact__content__description" v-html=" $t('demo.description')"></p>
          </div>

          <div v-show="feedbackType === 'success'">
            <router-link
              class="contact__back"
              :to="{ 'name': 'Home' }"
            >{{ $t('contact.feedback.back') }}</router-link>
          </div>
        </article>

        <form
          v-show="!showFeedback"
          method="POST"
          @submit.prevent="submitForm"
          class="contact__content__form"
        >
          <input-field
            id="name"
            v-model="form.name"
            :error="$t('demo.fields[0].error')"
            :input="form.name"
            type="text"
            name="name"
            :placeholder="$t('demo.fields[0].title')"
            :class="{ 'input--error': $v.form.name.$error }"
          />
          <input-field
            id="email"
            v-model="form.email"
            :error="$t('demo.fields[1].error')"
            :advice="$t('demo.fields[1].advice')"
            :input="form.email"
            type="email"
            name="email"
            :placeholder="$t('demo.fields[1].title')"
            :class="{ 'input--error': $v.form.email.$error }"
          />
          <input-field
            id="phone"
            v-model="form.phone"
            :input="form.phone"
            :mask="phoneMask"
            type="text"
            name="phone"
            :placeholder="$t('demo.fields[2].title')"
            :error="$t('demo.fields[2].error')"
            :advice="$t('demo.fields[2].advice')"
            :class="{ 'input--error': $v.form.phone.$error }"
          />

          <input-field
            id="employees"
            v-model="form.employees"
            name="employees"
            :input="form.employees"
            type="select"
            :placeholder="$t('demo.fields[3].title')"
            :error="$t('demo.fields[3].error')"
            :class="{ 'input--error': $v.form.employees.$error }"
          >
            <option value selected disabled></option>
            <option
              v-for="(option, index) in $t('demo.options')"
              :key="index"
              :value="option.value"
            >{{ option.title }}</option>
          </input-field>

          <input-field
            v-model="form.message"
            :input="form.message"
            id="message"
            type="textarea"
            name="message"
            :placeholder="$t('demo.fields[4].title')"
            :error="$t('demo.fields[4].error')"
            :class="{ 'input--error': $v.form.message.$error }"
          />

          <div class="contact__content__form__submit">
            <button type="submit" class="button button--default">{{ $t('contact.submit') }}</button>
          </div>
        </form>

        <Feedback v-show="showFeedback" :feedbackType="feedbackType" :amount="amount" />
      </div>
    </div>
  </section>
</template>

<script>
import Input from "@/components/Input";
import Feedback from "@/components/Feedback";
import phoneMask from "@/mixins/phoneMask";
import formSubmit from "@/mixins/formSubmit";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "Demo",

  mixins: [phoneMask, formSubmit],

  components: {
    inputField: Input,
    Feedback
  },

  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        employees: "",
        message: ""
      }
    };
  },

  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },

      email: {
        required
      },

      phone: {
        required,
        minLength: minLength(14)
      },

      employees: {
        required
      },

      message: {
        required
      }
    }
  }
};
</script>