<template>
  <section class="error-page">
    <div class="container">
      <div class="error-page__content">
        <h2 class="error-page__title">{{ $t('error_page.title') }}</h2>
        <h3 class="error-page__subtitle">{{ $t('error_page.subtitle') }}</h3>
        <p class="error-page__description">{{ $t('error_page.description') }}</p>
        <router-link :to="{ name: 'Home' }" class="error-page__link">{{ $t('error_page.action_text') }}</router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Error404'
}
</script>