<template>
  <div class="home">
    <header class="home__header">
      <div class="home__header__description">
        <h1 class="home__header__description__title">
          {{ $t('home.header.header_title') }}
          <span
            class="subtitle"
          >{{ $t('home.header.header_subtitle') }}</span>
        </h1>
        <a href="#product-list" @click.prevent="scrollSection" class="scroll-down">
          <img
            :src="require('@/assets/img/chevron-down.svg')"
            alt="Role para baixo"
            class="home__header__icon"
          />
        </a>
      </div>

      <video
        class="home__header__video"
        :src="require('@/assets/video/home.mp4')"
        :poster="require('@/assets/img/poster.png')"
        autoplay
        muted
        loop
      ></video>
    </header>

    <ProductsList ref="productList" id="product-list" :title="$t('home.intro.intro_title')" />

    <section class="striped-section">
      <StripedSectionItem
        v-for="(item, index) in $t('home.about')"
        :key="index"
        :title="item.title"
        :description="item.description"
        :image="require(`@/assets/img/about/${item.image}.jpg`)"
      />
    </section>

    <section class="home__copyright">
      <div class="container home__copyright__content">
        <div class="home__copyright__description">
          <h2 class="home__copyright__title">{{ $t('home.copyright.title') }}</h2>
          <img :src="require('@/assets/img/blueshift_logo.svg')" alt="Blueshift" />
          <p class="home__copyright__text">{{ $t('home.copyright.description') }}</p>
          <p class="home__copyright__text">{{ $t('home.copyright.subtitle') }}</p>
        </div>

        <div class="home__copyright__contain">
          <figure class="home__copyright__figure">
            <div class="image"></div>
          </figure>
        </div>
      </div>
    </section>

    <Advice />
  </div>
</template>

<script>
import ProductsList from "@/components/ProductsList";
import StripedSectionItem from "@/components/StripedSectionItem";
import Advice from "@/components/Advice";

export default {
  data() {
    return {
      className: '',
      disableAnimation: false,
      disableScrollListen: false
    }
  },

  name: "Home",

  components: {
    ProductsList,
    StripedSectionItem,
    Advice
  },

  mounted() {
		// Isso nao vai mais ser usado
    //this.scrollListen()
  },

  methods: {

    scrollListen() {
      let productsList = this.$refs.productList.$el;

      window.addEventListener('scroll', () => {
        if(window.scrollY > productsList.offsetTop - 500 && !this.disableScrollListen) {
          setTimeout(() => {
            this.animateCards();
          }, 1000);
          this.disableScrollListen = true;
        }
      });
    },

    animateCards() {
      let items = [].slice.call(document.querySelectorAll('.products-list__card'));
      let time = 750;
      let className = 'animated';

      items.forEach((item, index) => {
        setTimeout(() => {
          item.classList.add(className);
        }, time * index);
      });

      setTimeout(() => {
        items.forEach(item => item.classList.remove(className));
      }, (time * items.length) + time)
    },

    scrollSection() {
      this.$smoothScroll({
        scrollTo: this.$refs.productList.$el,
        duration: 200,
        offset: -70
      })
    }
  }
};
</script>
