<template>
  <section class="solutions">
    <header class="solutions__header">
      <div class="product__header__description">
        <h1 class="product__header__description__title">{{ $t('solutions.title') }}</h1>

        <p class="product__header__description__subtitle">{{ $t('solutions.subtitle') }}</p>
      </div>
    </header>

		<div class="header-mobile">
			<div class="container">
				<div class="header-mobile__description">
					<h1 class="header-mobile__description__title">
						{{ $t(`solutions.title`) }}
					</h1>

					<p class="header-mobile__description__subtitle">
						{{ $t(`solutions.subtitle`) }}
					</p>
				</div>
			</div>
		</div>

    <div class="card-list">
      <div class="card" v-for="(card, index) in $t('solutions.content')" :key="index">
        <figure class="card__figure">
          <img :src="require(`@/assets/img/icons/color-icons/${card.image}.png`)" alt />
        </figure>

        <h2 class="card__title">{{ card.title }}</h2>
        <p class="card__description">{{ card.description }}</p>
      </div>
    </div>

    <ProductsList :title="$t('solutions.products_list_title')" :slider="true" />

    <Advice />
  </section>
</template>

<script>
import ProductsList from "@/components/ProductsList";
import Advice from "@/components/Advice";

export default {
  name: "Solutions",

  components: {
    ProductsList,
    Advice
  }
};
</script>
