<template>
  <section class="advice">
    <div class="container">
      <div class="advice__content">
        <h2 class="advice__title">{{ $t('components.advice.title') }}</h2>
        <p class="advice__description">{{ $t('components.advice.subtitle') }}</p>
        <router-link :to="{ name: 'Demo' }" class="button button--default">{{ $t('components.advice.button_text') }}</router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Advice'
}
</script>