<template>
  <div class="cookie-accept" v-if="isShow">
    <div class="container">
      <div class="cookie-accept__content">
        <div class="cookie-accept__description">
          <p>{{ $t('components.cookies.title') }}</p>
          <p>{{ $t('components.cookies.subtitle') }}</p>
        </div>

        <div class="cookie-accept__action">
          <button @click.prevent="acceptCookies" class="button button--transparent">{{ $t('components.cookies.accept') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Cookies from 'js-cookie'

export default {
  name: 'CookieAccept',

  data() {
    return {
      isShow: true
    }
  },

  created() {
    if(this.verifyCookies()) {
      this.isShow = false;
    }
  },

  methods: {
    verifyCookies() {
      return Cookies.get('accepted-cookies') ? true : false;
    },

    acceptCookies() {
      Cookies.set('accepted-cookies', { title: 'Cookies Accepted', date: new Date().toLocaleDateString('pt-BR') }, { expires: 45 });

      setTimeout(() => {
        this.isShow = false;
      }, 200);
    }
  }
}
</script>