<template>
  <div class="feedback">
    <div v-if="feedbackType === 'loading'" class="feedback__loading">
      <progress max="100" :value="amount" />
      <h3 class="feedback__title">{{ $t('contact.feedback.loading.title') }}</h3>
    </div>

    <div v-if="feedbackType === 'success'" class="feedback__success">
      <span class="feedback__success__icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
      </span>
      <h3 class="feedback__title">{{ $t('contact.feedback.success.title') }}</h3>
      <h3 class="feedback__title">{{ $t('contact.feedback.success.subtitle') }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Feedback',

  props: ['feedbackType', 'amount']

}
</script>