<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__content">
        <button type="button" @click.prevent="changeLocale" class="footer__translate">
          <img class="icon" :src="require('@/assets/img/icons/icon-world.svg')" alt="Translate">

          {{ this.$i18n.locale === 'pt' ? 'English(US)' : 'Português(BR)' }}
        </button>

        <p class="footer__contact">
          <span class="text-uppercase">{{ $t('components.footer.title') }}</span>
          <br />
          <a :href="`mailto:${ $t('components.footer.mail') }`">{{ $t('components.footer.mail') }}</a>
        </p>
      </div>

      <div class="text-center footer__copyright">
        <p>{{ currentYear }} {{ $t('components.footer.rights') }}</p>
        <p>{{ $t('components.footer.copyright') }}</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',

  computed: {
    currentYear() {
      return new Date().getFullYear();
    }
  },

  methods: {
    changeLocale() {
      this.$i18n.locale === 'pt'
      ? this.$i18n.locale = 'en'
      : this.$i18n.locale = 'pt';
    }
  }
}
</script>