<template>
  <label class="input" :class="{ 'input--select': type === 'select' }" :for="id">
    <input 
      @input="update($event.target.value)"
      @focus="checkAdvice"
      @blur="clearAdvice"
      :value="value"    
      v-if="type !== 'select' && type !== 'textarea' && name !== 'phone' "
      :name="name"
      :id="id" 
      :type="type"
      placeholder=" "
    />

    <input 
      @input="update($event.target.value)"
      @focus="checkAdvice"
      @blur="clearAdvice"
      v-mask="mask == undefined ? false : mask"
      :value="value"    
      v-if="name == 'phone'"
      :name="name"
      :id="id" 
      :type="type"
      placeholder=" "
    />

    <textarea
    @input="update($event.target.value)"
    :value="value"
    v-if="type == 'textarea'" 
    :name="name" 
    :id="id"  
    placeholder=" "
    rows="5"></textarea> 

    <select
      v-if="type == 'select'"
      @input="update($event.target.value)"
      :value="value"
      :name="name"
      :id="id"
      required
    >
      <slot />
    </select>

    <span class="input__label">{{ placeholder }}</span>
    <span class="input__badge input__badge--error"  v-if="error && !showAdvice">{{ error }}</span>
    <span class="input__badge" v-if="advice && showAdvice">{{ advice }}</span>
  </label>
</template>

<script>
export default {
  name: 'Input',

  props: {
    'id': {
      type: String,
      required: true
    },

    'value': {
      type: String
    },

    'type': {
      type: String,
      default: 'text',
      required: true
    }, 
    
    'name': {
      type: String,
      required: true
    },
    
    'placeholder': {
      type: String,
      required: true
    },

    'advice': {
      type: String
    },

    'error': {
      type: String
    },

    'mask': {
      required: false
    }
  },

  data() {
    return {
      showAdvice: false
    }
  },

  methods: {
    checkAdvice() {
      this.showAdvice = true;
    },

    clearAdvice() {
      this.showAdvice = false;
    },

    update (value) {
      this.$emit('input', value);
    }
  }
}
</script>