<template>
  <div :class="`menu ${ isOpen ? 'menu--open': '' } `">
    <label class="menu__item menu__item--submenu">
      <input type="checkbox" v-model="submenuOpen">
      {{ $t('menu.products') }}

      <fade-transition>
        <div class="submenu" v-show="submenuOpen" @mouseleave="closeSubmenu">
          <div class="container">
            <div class="submenu__content">
              <router-link @click.native="closeMenu" :to="{ name: 'Products', params: { 'slug': 'cms' }}" class="submenu__item">
                <h3 class="submenu__item__title">{{ $t('menu.submenu.cms.title') }}</h3>
                <p class="submenu__item__description">{{ $t('menu.submenu.cms.description') }}</p>
              </router-link>

              <router-link @click.native="closeMenu" :to="{ name: 'Products', params: { 'slug': 'multicast' }}" class="submenu__item">
                <h3 class="submenu__item__title">{{ $t('menu.submenu.multicast.title') }}</h3>
                <p class="submenu__item__description">{{ $t('menu.submenu.multicast.description') }}</p>
              </router-link>

              <router-link @click.native="closeMenu" :to="{ name: 'Products', params: { 'slug': 'workflow' }}" class="submenu__item">
                <h3 class="submenu__item__title">{{ $t('menu.submenu.workflow.title') }}</h3>
                <p class="submenu__item__description">{{ $t('menu.submenu.workflow.description') }}</p>
              </router-link>
            </div>
          </div>
        </div>
      </fade-transition>
    </label>

    <router-link @click.native="closeMenu" :to="{ name: 'Solutions' }" class="menu__item">{{ $t('menu.solutions') }}</router-link>
    <router-link @click.native="closeMenu" :to="{ name: 'ResourcesIndex' }" class="menu__item">{{ $t('menu.resources') }}</router-link>
    <router-link @click.native="closeMenu" :to="{ name: 'Contact' }" class="menu__item">{{ $t('menu.contact') }}</router-link>
    <router-link @click.native="closeMenu" :to="{ name: 'Demo' }" class="menu__item menu__item--action">{{ isMobile ? $t('menu.demo_mobile') : $t('menu.demo') }}</router-link>
  </div>
</template>

<script>
import {FadeTransition} from 'vue2-transitions'

export default {
  name: 'Menu',
  props: ['isOpen'],

  data() {
    return {
      submenuOpen: false
    }
  },

  components: {
    FadeTransition
	},

	computed: {
		isMobile() {
			return window.matchMedia("(max-width: 960px)").matches
		}
	},

  methods: {
    closeMenu() {
      this.$emit('menuClose')
    },

    closeSubmenu() {
      this.submenuOpen = false
    }
  }
}
</script>
