<template>
  <nav class="nav">
    <div class="container">
      <div class="nav__content">
        <router-link @click.native="closeMenu" to="/" class="nav__brand">
          <img src="@/assets/img/logo.svg" alt="Bohr">
        </router-link>
        <Menu :isOpen="isOpen" @menuClose="closeMenu" />
        <button :class="`nav__burger ${ isOpen ? 'nav__burger--open' : '' }`" @click="toggleMenu"></button>
      </div>
    </div>
  </nav>
</template>

<script>
import Menu from '@/components/Menu'

export default {
  name: "Navbar",

  data() {
    return {
      isOpen: false
    }
  },

  components: {
    Menu
  },

  methods: {
    toggleMenu() {
      this.isOpen = !this.isOpen
    },

    closeMenu() {
      this.isOpen = false;
    }
  }
}
</script>