<template>
  <div class="striped-section__item striped-section__item--news">
    <div class="container">
      <router-link :to="url" class="container striped-section__item__content">
        <figure class="striped-section__item__image">
          <img :src="image" :alt="title" />
        </figure>
        
        <article class="striped-section__item__text">
          <h2 class="striped-section__item__title">{{ title }}</h2>
          <p class="striped-section__item__description">{{ description }}</p>
        </article>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StripedSectionItem',
  props: ['title', 'description', 'image', 'url']
}
</script>