<template>
  <div class="products-list">
    <div class="container">
      <h2 class="products-list__title">{{ title }}</h2>

      <div class="products-list__cards" v-if="!slider">
        <router-link
          ref="productsListItem_1"
          :to="{ name: 'Products', params: { 'slug': 'cms' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-cms.png')"
            :alt="$t('home.intro.cards.card_1.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_1.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_1.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>

        <router-link
          ref="productsListItem_2"
          :to="{ name: 'Products', params: { 'slug': 'multicast' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-multicast.png')"
            :alt="$t('home.intro.cards.card_2.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_2.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_2.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>

        <router-link
          ref="productsListItem_3"
          :to="{ name: 'Products', params: { 'slug': 'workflow' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-workflow.png')"
            :alt="$t('home.intro.cards.card_3.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_3.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_3.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>
      </div>

      <VueSlickCarousel v-else class="products-list__cards" v-bind="settings">
        <router-link
          ref="productsListItem_1"
          :to="{ name: 'Products', params: { 'slug': 'cms' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-cms.png')"
            :alt="$t('home.intro.cards.card_1.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_1.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_1.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>

        <router-link
          ref="productsListItem_2"
          :to="{ name: 'Products', params: { 'slug': 'multicast' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-multicast.png')"
            :alt="$t('home.intro.cards.card_2.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_2.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_2.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>

        <router-link
          ref="productsListItem_3"
          :to="{ name: 'Products', params: { 'slug': 'workflow' }}"
          class="products-list__card"
        >
          <img
            class="products-list__card__icon"
            :src="require('@/assets/img/icons/icon-workflow.png')"
            :alt="$t('home.intro.cards.card_3.title')"
          />
          <h3 class="products-list__card__title">{{ $t('home.intro.cards.card_3.title') }}</h3>
          <p
            class="products-list__card__description"
            v-html="$t('home.intro.cards.card_3.description')"
          ></p>
          <span class="products-list__card__action">{{ $t('products.cta') }}</span>
        </router-link>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';

export default {
  name: "ProductsList",
  props: ["title", "slider"],

  data() {
    return {
      settings: {
        arrows: false,
        slidesToShow: 3,
        slidesToScroll: 0,
        centerMode: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: true,
              centerPadding: '5px',
            }
          },
        ]
      }
    }
  },

  components: {
    VueSlickCarousel
  },

  computed: {
    isMobile() {
      return !window.matchMedia("(min-width: 960px)").matches;
    },
  },
};
</script>
