<template>
  <div class="striped-section__item">
    <div v-if="!sectionCards" class="container striped-section__item__content">
      <figure class="striped-section__item__image">
        <img :src="image" :alt="title" />
      </figure>
      
      <article class="striped-section__item__text">
        <h2 class="striped-section__item__title">{{ title }}</h2>
        <p class="striped-section__item__description" v-html="description"></p>
      </article>
    </div>

    <div v-else class="products-list">
      <div class="container">  
        <VueSlickCarousel class="products-list__cards" v-bind="settings">
          <div class="products-list__card" v-for="(card, index) in cardInfo" :key="index">
            <img class="products-list__card__icon" :src="require(`@/assets/img/icons/color-icons/${card.image}`)" :alt="card.title">
            <h3 class="products-list__card__title">{{ card.title }}</h3>
            <p class="products-list__card__description" v-html="card.description"></p>
          </div>
        </VueSlickCarousel>
      </div> 
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';

export default {
  name: 'StripedSectionItem',
  
  props: ['title', 'description', 'image', 'sectionCards', 'cardInfo'],

  components: {
    VueSlickCarousel
  },

  data() {
    return {
      settings: {
        arrows: false,
        slidesToShow: 3,
        slidesToScroll: 0,
        centerMode: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: true,
              centerPadding: '10px',
              infinite: false
            }
          },
        ]
      }
    }
  }
}
</script>