@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
  .products-list
    &__cards
      display block
      overflow hidden

    &__card
      display inline-block
      width 30%
      margin-right 10px
      vertical-align middle
      height 500px
      text-align center

  .contact__content
    display block

    &__description, &__form, .feedback
      display inline-flex
      width 49%
      flex-direction column
      vertical-align middle
  
  .striped-section
    &__item
      &__content
        display flex
        width 100%
        
      &__text
        display block