<template>
  <section class="resources">
    <header class="resources__header">
      <div class="resources__header__description">
        <h1 class="resources__header__description__title">
          {{ $t('resources.title') }}
        </h1>

        <p class="resources__header__description__subtitle">
          {{ $t('resources.description') }}
        </p>
      </div>
    </header>

		<div class="header-mobile">
			<div class="container">
				<div class="header-mobile__description">
					<h1 class="header-mobile__description__title">
						{{ $t('resources.title') }}
					</h1>

					<p class="header-mobile__description__subtitle">
						{{ $t('resources.description') }}
					</p>
				</div>
			</div>
		</div>

    <NewsList
        v-for="(item, index) in $t('resources.articles')"
        :key="index"
        :title="item.title"
        :description="item.description"
        :url="{ name: 'ResourcesShow', params: { 'slug': item.slug } }"
        :image="require(`@/assets/img/news/${item.slug}.jpg`)"
      />


    <section class="resources__slider">
			<div class="container">
				<VueSlickCarousel class="striped-section__item striped-section__item--news striped-section__item--slider"
				:arrows="false"
				centerPadding="10px"
				:dots="true">
					<div v-for="(item, index) in $t('resources.articles')" :key="index" class="container striped-section__item__content">
						<div class="striped-section__item__content">
							<figure class="striped-section__item__image">
								<img :src="require(`@/assets/img/news/${item.slug}.jpg`)" :alt="item.title" />
							</figure>

							<article class="striped-section__item__text">
								<h2 class="striped-section__item__title">{{ item.title }}</h2>
								<p class="striped-section__item__description">{{ item.description }}</p>
							</article>
						</div>
					</div>
				</VueSlickCarousel>
			</div>
		</section>

    <Advice />
  </section>
</template>

<script>

import NewsList from '@/components/NewsList';
import Advice from '@/components/Advice';
import VueSlickCarousel from 'vue-slick-carousel';

export default {
  name: 'ResourcesIndex',

  components: {
    Advice,
    NewsList,
    VueSlickCarousel
  }
}
</script>
