<template>
  <div>
    <header class="resources__header" 
      :style="`background-image: url(${ require(`@/assets/img/news/${slug}.jpg`) })`">
      <div class="resources__header__description">
        <h1 class="resources__header__description__title">
          {{ properties.title }}
        </h1>

        <p class="resources__header__description__subtitle">
          {{ properties.description }}
        </p>

        <p>{{ properties.content.author }}</p>
      </div>
    </header>

    <section class="resources__news__content">
      <article class="container">
        
        <div v-for="(item, index) in properties.content.text" :key="index">
          <div v-html="item.paragraph"></div>
        </div>

        <div class="resources__news__back">
          <router-link :to="{ name: 'ResourcesIndex' }">Voltar para Recursos</router-link>
        </div>
      </article>
    </section>

    <ProductsList :title="$t('solutions.products_list_title')" />
    <Advice />
  </div>
</template>

<script>
import ProductsList from "@/components/ProductsList";
import Advice from "@/components/Advice";

export default {
  name: 'ResourcesShow',
  
  props: ['slug'],

  components: {
    ProductsList,
    Advice
  },
  
  data() {
    return {
      properties: {}
    }
  },

  created() {
    let article = this.$t('resources.articles').find(item => item.slug === this.slug)

    this.properties = article
  }
}
</script>