<template>
  <div id="app">
    <Navbar />
    <fade-transition :duration="500">
      <router-view/>
    </fade-transition>
    <Footer />
    <CookieAccept />
  </div>
</template>

<style lang="stylus">
@import '/assets/css/index.styl'
</style>

<script>
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'
import CookieAccept from '@/components/CookieAccept'
import {FadeTransition} from 'vue2-transitions'

export default {
  name: 'App',

  metaInfo () {
    return { 
      title: this.$t('meta.title'),
      description: this.$t('meta.description'),
      meta: [
        {property: 'og:title', content: this.$t('meta.title')},
        {property: 'og:description', content: this.$t('meta.description')}
      ]
    }
  },
  
  components: {
    Navbar,
    Footer,
    CookieAccept,
    FadeTransition
  }
}
</script>
